In [2]:
print("Hello world")

Hello world

In [2]:
print("hellon world")

hellon world

In [3]:
print("Hello UmmU")

Hello UmmU

In [4]:
name = "Mansur"
print{name}

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (46606095.py, line 2)

In [5]:
name = "Mansur"
print(name)

Mansur

Data Types In Python
Print("Mansur goes home")

In [6]:
print("Mansur went Home")

Mansur went Home

In [7]:
print("Ustadh Entered")

Ustadh Entered

In [8]:
# Declaring  A Variable
myFirstVariable = 45
print(myFirstVariable)

45

In [ ]:

"

In [10]:
_Value = "Jafar"
Print (_Value)

NameError: name 'Print' is not defined

In [1]:
_value = "jafar"
print ("_value")

_value

In [2]:
_value = "jafar"
print (_value)

jafar

In [11]:
firstNumber = 21
secondNumber = 45
print (firstNumber + secondNumber)

66

In [12]:
num1 = 5
num2 = 9
sum = num1 + num2 
print (sum)

14

In [13]:
sub = num1 - num2
print (sub)

-4

In [14]:
mult = num1 * num2
print (mult)

45

In [15]:
div = num1 / num2
print (num1 / num2)

0.5555555555555556

In [17]:
mod = num1 % num2
print(mod)

5

In [18]:
num_student = 30
class_name = "python Basics"
print ("There are 30 students in the Python Basics")

There are 30 students in the Python Basics

In [21]:
num_student = 30
class_name = "Python Basics"
print ("There are", num_student, "students in the", class_name, " class")

There are 30 students in the Python Basics  class

In [ ]:
num_student = 30
class_name = "Python Basics"
print ("There are",)

In [3]:
num_student = 30
class_name = "python basics"
print ("There are",num_student,"students in the",class_name, "class")

There are 30 students in the python basics class